In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('./dataframe_all_tos.csv')

In [3]:
imdb_df = pd.read_csv('./tos_imdb_data.csv')

In [4]:
imdb_df.rename(columns={'ep_name': 'ep_title'}, inplace=True)

In [5]:
df.head()

  character  ep_title                                               text
0     SPOCK  The Cage                                 Check the circuit.
1     SPOCK  The Cage                       It can't be the screen then.
2     SPOCK  The Cage  Definitely something out there, Captain, heade...
3     SPOCK  The Cage  Their call letters check with a survey expedit...
4     SPOCK  The Cage                                       SS Columbia.

In [6]:
imdb_df.head()

        airdate                      ep_title  number  rating  season  index
0  27 Nov. 1988                      The Cage       0     7.7       1      1
1   8 Sep. 1966                  The Man Trap       1     7.3       1      2
2  15 Sep. 1966                     Charlie X       2     7.2       1      3
3  22 Sep. 1966  Where No Man Has Gone Before       3     7.8       1      4
4  29 Sep. 1966                The Naked Time       4     8.0       1      5

In [7]:
df['ep_title_formatted'] = [''.join(e for e in title if e.isalnum()).lower() for title in df['ep_title']]
imdb_df['ep_title_formatted'] = [''.join(e for e in title if e.isalnum()).lower() for title in imdb_df['ep_title']]

In [8]:
df.head()

,character,ep_title,text,ep_title_formatted
0,SPOCK,The Cage,Check the circuit.,thecage
1,SPOCK,The Cage,It can't be the screen then.,thecage
2,SPOCK,The Cage,"Definitely something out there, Captain, heade...",thecage
3,SPOCK,The Cage,Their call letters check with a survey expedit...,thecage
4,SPOCK,The Cage,SS Columbia.,thecage

In [9]:
imdb_df.head()

,airdate,ep_title,number,rating,season,index,ep_title_formatted
0,27 Nov. 1988,The Cage,0,7.7,1,1,thecage
1,8 Sep. 1966,The Man Trap,1,7.3,1,2,themantrap
2,15 Sep. 1966,Charlie X,2,7.2,1,3,charliex
3,22 Sep. 1966,Where No Man Has Gone Before,3,7.8,1,4,wherenomanhasgonebefore
4,29 Sep. 1966,The Naked Time,4,8.0,1,5,thenakedtime

In [30]:
set(df['ep_title_formatted']) ^ set(imdb_df['ep_title_formatted'])

set()

In [18]:
imdb_set = set(imdb_df['ep_title_formatted'])
df_set = set(df['ep_title_formatted'])

In [19]:
imdb_replace = []
for ep in imdb_set:
    if ep not in df_set:
        imdb_replace.append(ep)
        print(ep)

themenageriepartii

In [ ]:
imdb_df.drop()

In [27]:
imdb_df.loc[imdb_df['ep_title_formatted'] == 'themenageriepartii']

,airdate,ep_title,number,rating,season,index,ep_title_formatted
12,24 Nov. 1966,The Menagerie: Part II,12,8.3,1,13,themenageriepartii

In [29]:
imdb_df.drop(12, inplace=True)

In [23]:
imdb_df.head()

,airdate,ep_title,number,rating,season,index,ep_title_formatted
0,27 Nov. 1988,The Cage,0,7.7,1,1,thecage
1,8 Sep. 1966,The Man Trap,1,7.3,1,2,themantrap
2,15 Sep. 1966,Charlie X,2,7.2,1,3,charliex
3,22 Sep. 1966,Where No Man Has Gone Before,3,7.8,1,4,wherenomanhasgonebefore
4,29 Sep. 1966,The Naked Time,4,8.0,1,5,thenakedtime

In [21]:
df['ep_title_formatted'].unique()

array(['thecage', 'wherenomanhasgonebefore', 'thecorbomitemaneuver',
       'muddswomen', 'theenemywithin', 'themantrap', 'thenakedtime',
       'charliex', 'balanceofterror', 'whatarelittlegirlsmadeof',
       'daggerofthemind', 'miri', 'theconscienceoftheking',
       'thegalileoseven', 'courtmartial', 'themenagerieparti',
       'shoreleave', 'thesquireofgothos', 'arena', 'thealternativefactor',
       'tomorrowisyesterday', 'thereturnofthearchons',
       'atasteofarmageddon', 'spaceseed', 'thissideofparadise',
       'thedevilinthedark', 'errandofmercy', 'thecityontheedgeofforever',
       'operationannihilate', 'catspaw', 'metamorphosis', 'fridayschild',
       'whomournsforadonais', 'amoktime', 'thedoomsdaymachine',
       'wolfinthefold', 'thechangeling', 'theapple', 'mirrormirror',
       'thedeadlyyears', 'imudd', 'thetroublewithtribbles',
       'breadandcircuses', 'journeytobabel', 'aprivatelittlewar',
       'thegamestersoftriskelion', 'obsession', 'theimmunitysyndrome',
       'apieceoftheaction', 'byanyothername', 'returntotomorrow',
       'patternsofforce', 'theultimatecomputer', 'theomegaglory',
       'assignmentearth', 'spectreofthegun', 'elaanoftroyius',
       'theparadisesyndrome', 'theenterpriseincident',
       'andthechildrenshalllead', 'spocksbrain', 'isthereintruthnobeauty',
       'theempath', 'thetholianweb',
       'fortheworldishollowandihavetouchedthesky', 'dayofthedove',
       'platosstepchildren', 'winkofaneye', 'thatwhichsurvives',
       'letthatbeyourlastbattlefield', 'whomgodsdestroy',
       'themarkofgideon', 'thelightsofzetar', 'thecloudminders',
       'thewaytoeden', 'requiemformethuselah', 'thesavagecurtain',
       'allouryesterdays', 'turnaboutintruder'], dtype=object)

In [20]:
df_replace = []
for ep in df_set:
    if ep not in imdb_set:
        df_replace.append(ep)
        print(ep)

In [14]:
df.replace(to_replace='thedayofthedove', value = 'dayofthedove', inplace=True)
df.replace(to_replace='themenageriepart1', value = 'themenagerieparti', inplace=True)
#df.replace(to_replace='thedayofthedove', value = 'dayofthedove', inplace=True)

In [31]:
merged_df = pd.merge(df, imdb_df, on='ep_title_formatted', how='outer')

In [32]:
merged_df.head()

,character,ep_title_x,text,ep_title_formatted,airdate,ep_title_y,number,rating,season,index
0,SPOCK,The Cage,Check the circuit.,thecage,27 Nov. 1988,The Cage,0,7.7,1,1
1,SPOCK,The Cage,It can't be the screen then.,thecage,27 Nov. 1988,The Cage,0,7.7,1,1
2,SPOCK,The Cage,"Definitely something out there, Captain, heade...",thecage,27 Nov. 1988,The Cage,0,7.7,1,1
3,SPOCK,The Cage,Their call letters check with a survey expedit...,thecage,27 Nov. 1988,The Cage,0,7.7,1,1
4,SPOCK,The Cage,SS Columbia.,thecage,27 Nov. 1988,The Cage,0,7.7,1,1

In [37]:
merged_df.to_csv('merged_tos.csv', index=False)

In [38]:
df_test = pd.read_csv('./merged_tos.csv')

In [39]:
df_test.head()

,character,ep_title_x,text,ep_title_formatted,airdate,ep_title_y,number,rating,season,index
0,SPOCK,The Cage,Check the circuit.,thecage,27 Nov. 1988,The Cage,0,7.7,1,1
1,SPOCK,The Cage,It can't be the screen then.,thecage,27 Nov. 1988,The Cage,0,7.7,1,1
2,SPOCK,The Cage,"Definitely something out there, Captain, heade...",thecage,27 Nov. 1988,The Cage,0,7.7,1,1
3,SPOCK,The Cage,Their call letters check with a survey expedit...,thecage,27 Nov. 1988,The Cage,0,7.7,1,1
4,SPOCK,The Cage,SS Columbia.,thecage,27 Nov. 1988,The Cage,0,7.7,1,1