In [1]:
from bs4 import BeautifulSoup, NavigableString, Tag
import urllib
import requests
import re
import nltk
import datetime
import re

import pandas as pd

In [3]:
scr = []

In [4]:
for i in range(1, 8):
    request = requests.get('http://www.imdb.com/title/tt0092455/episodes?season={}'.format(i))
    scr.append(request)

In [5]:
scr

[<Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>,
 <Response [200]>]

In [6]:
many_soups = []
for ep in scr:
    many_soups.append(BeautifulSoup(ep.content, "lxml"))

In [7]:
ep_name_list = []
number_list = []
date_list = []
rating_list = []
season_number_list = []

for season in many_soups:
    # Gets season number
    season_tag = season.find('h3',{'id': 'episode_top'})
    season_tag_text = season_tag.text.replace(u'\xa0', u' ')
    pattern = re.compile(r'[0-9]')
    season_number = re.search(pattern, season_tag_text)
    season_number = season_number.group(0) 
    
    for ep in season.find_all('div', {'class': 'info'}):
        # append ep_name
        ep_name = ep.find('a', {'itemprop': 'name'}).text
        ep_name_list.append(ep_name)
        
        # append ep number
        number = ep.find('meta')
        number = number.attrs['content']
        number = int(number)
        number_list.append(number)

        # append airdate
        date = ep.find('div', {'class': 'airdate'}).contents[0].strip()
        date_list.append(date)

        # append rating
        rating = ep.find('span', {'class': 'ipl-rating-star__rating'}).text
        rating = float(rating)
        rating_list.append(rating)
        
        season_number_list.append(season_number)

In [8]:
imdb_data = pd.DataFrame(
    {'season': season_number_list,
     'number': number_list,
    'ep_name': ep_name_list,
    'rating': rating_list,
     'airdate': date_list,
    })

In [18]:
imdb_data.describe()

           number      rating
count  176.000000  176.000000
mean    13.107955    7.379545
std      7.332491    0.932727
min      1.000000    3.400000
25%      7.000000    6.675000
50%     13.000000    7.400000
75%     19.000000    8.100000
max     26.000000    9.400000

In [14]:
imdb_data.tail()

          airdate             ep_name  number  rating season
171  23 Apr. 1994           Firstborn      21     6.8      7
172  30 Apr. 1994          Bloodlines      22     6.5      7
173    7 May 1994           Emergence      23     6.6      7
174   14 May 1994   Preemptive Strike      24     7.9      7
175   23 May 1994  All Good Things...      25     8.6      7

In [19]:
imdb_data['index'] = list(range(1, 177))

In [20]:
imdb_data.head()

        airdate                       ep_name  number  rating season  index
0  26 Sep. 1987         Encounter at Farpoint       1     6.9      1      1
1   3 Oct. 1987                 The Naked Now       2     6.6      1      2
2  10 Oct. 1987                 Code of Honor       3     5.2      1      3
3  17 Oct. 1987              The Last Outpost       4     6.3      1      4
4  24 Oct. 1987  Where No One Has Gone Before       5     7.6      1      5

In [21]:
imdb_data.to_csv('tng_imdb_data.csv', index=False)

In [22]:
df_test = pd.read_csv('./tng_imdb_data.csv')

In [23]:
df_test.head()

        airdate                       ep_name  number  rating  season  index
0  26 Sep. 1987         Encounter at Farpoint       1     6.9       1      1
1   3 Oct. 1987                 The Naked Now       2     6.6       1      2
2  10 Oct. 1987                 Code of Honor       3     5.2       1      3
3  17 Oct. 1987              The Last Outpost       4     6.3       1      4
4  24 Oct. 1987  Where No One Has Gone Before       5     7.6       1      5